@import 'vars';

* {
	margin: 0;
	padding: 0;
	appearance: none;
	outline: none;
	box-sizing: border-box;
}

%gradient-text {
	text-decoration: none;
	color: var(--color-primary);

	@supports (-webkit-background-clip: text) {
		background: var(--color-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

%gradient-bg {
	--color-text: var(--color-black);
	background: var(--color-gradient);
	color: var(--color-text);
}

%gradient-underline {
	background: var(--color-gradient);
	background-repeat: repeat-x;
	background-position: 0 100%;
	background-size: 100% 2px;
}

%gradient-border {
	border-style: solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: var(--color-gradient);
}

%card {
	padding: 0.25rem;
	margin: 0.25rem;
	border-radius: 2px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

%item {
	@extend %card;
	padding: 0.5rem;
	background-color: var(--color-background);

	.title {
		margin-bottom: 0.5rem;
		font-family: var(--font-headline);
	}
}

.calculator {
	.inputs {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.result {
		text-align: center;
		width: 100%;
		font-size: 2.5rem;
		font-family: var(--font-headline);
		padding-top: 2rem;
		@extend %gradient-text;
	}
}
.form-group {
	flex: 1 1 50%;
	@include mobile() {
		flex: 0 0 100%;
	}
	background: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;

	input,
	button {
		touch-action: manipulation;
		flex: 0 0 60%;
		appearance: none;
		background: rgba(0, 0, 0, 0.2);
		text-align: center;
		padding: 0.5rem;
		font-size: 1.25rem;
		border: 2px solid rgba(0, 0, 0, 0.4);
		color: var(--color-text);
		max-width: 200px;
		border-radius: 0px;
	}

	button.btn {
		flex: 0 0 3rem;
		cursor: pointer;
		background: none;
		&:first-of-type {
			border-radius: 3px 0px 0px 3px;
			border-right-width: 0;
		}
		&:last-of-type {
			border-left-width: 0;
			border-radius: 0px 3px 3px 0px;
		}
		&:hover {
			background: var(--color-gradient);
		}
	}

	span {
		float: left;
		font-size: 0;
		width: calc(4rem + 4px);
		display: flex;
		position: relative;
		&::after {
			content: attr(data-value);
			display: block;
			width: 1rem;
			height: 0.5rem;
			color: var(--color-white);
			font-size: 0.875rem;
			padding: 0.5rem;
			text-align: center;
			line-height: 0.5rem;
			float: left;
			border: 2px solid rgba(0, 0, 0, 0.5);

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		$darken: 5%;
		--color-coin-tin: #cecece;
		--color-coin-tin-2: #{darken(#cecece, $darken)};
		--color-coin-brass: #bc9731;
		--color-coin-brass-2: #{darken(#bc9731, $darken)};

		&.kr1,
		&.kr5,
		&.kr10,
		&.kr20 {
			&::after {
				background: linear-gradient(60deg, var(--color-coin-brass), var(--color-coin-brass-2));
				border-radius: 50%;
				width: 1rem;
				height: 1rem;
				line-height: 1rem;
				color: var(--color-black);
			}
		}

		&.kr1,
		&.kr5 {
			&::after {
				background: linear-gradient(60deg, var(--color-coin-tin), var(--color-coin-tin-2));
			}
		}

		--color-money-50: #4c7c32;
		--color-money-50-2: #{darken(#4c7c32, $darken)};
		--color-money-100: #d84220;
		--color-money-100-2: #{darken(#d84220, $darken)};
		--color-money-200: #3087cb;
		--color-money-200-2: #{darken(#3087cb, $darken)};
		--color-money-500: #b67809;
		--color-money-500-2: #{darken(#b67809, $darken)};
		--color-money-1000: #855faa;
		--color-money-1000-2: #{darken(#855faa, $darken)};

		&.kr50,
		&.kr100,
		&.kr200,
		&.kr500,
		&.kr1000 {
			&::after {
				border-radius: 2px;
				width: 2rem;
				height: 0.5rem;
			}
		}

		&.kr50::after {
			background: linear-gradient(60deg, var(--color-money-50), var(--color-money-50-2));
		}
		&.kr100::after {
			background: linear-gradient(60deg, var(--color-money-100), var(--color-money-100-2));
		}
		&.kr200::after {
			background: linear-gradient(60deg, var(--color-money-200), var(--color-money-200-2));
		}
		&.kr500::after {
			background: linear-gradient(60deg, var(--color-money-500), var(--color-money-500-2));
		}
		&.kr1000::after {
			background: linear-gradient(60deg, var(--color-money-1000), var(--color-money-1000-2));
		}
	}
}

a {
	text-decoration: none;
	color: var(--color-primary);
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: Arial, Helvetica, sans-serif;

	width: 980px;
	max-width: 100%;
	margin: 0 auto;
	font-family: var(--font-system);
}

h2 {
	font-family: var(--font-headline);
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: inline-block;
	font-size: 2rem;
	text-align: center;
	width: 100%;
	@extend %gradient-text;
}

h1,
.name {
	font-family: var(--font-headline);
	font-size: clamp(20px, 9vw, 4rem);
	margin-bottom: 1rem;
	white-space: nowrap;
}

h1,
.about p {
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}

p {
	line-height: 1.3;
	word-break: break-word;

	& + p {
		margin-top: 0.5rem;
	}
}

img {
	max-width: 100%;
}

.viewport {
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;

	@include mobile() {
		padding: 1rem;
	}

	> * {
		flex: 0 0 100%;
		width: 100%;
	}
}

.links li {
	list-style: none;

	+ li {
		margin-top: 1rem;
	}

	a {
		padding: 0.25rem 0.5rem;

		&:hover {
			@extend %gradient-bg;
			color: var(--color-white);
			border-radius: 2px;
		}
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	> * {
		flex: 0 1 calc(50% - 0.5rem);
		margin: 0;

		@include mobile-big() {
			flex: 1 1 100%;
		}
	}
}

.buzzwords {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	li {
		@extend %card;
		background-color: var(--color-on-background);
		padding: 0.25rem 0.5rem;
		margin: 0;

		span {
			@extend %gradient-text;
			font-weight: 100;
		}
	}
}

.about {
	@extend %gradient-bg;
	color: var(--color-white);
	flex: 1 1 calc(60% - 0.5rem);
	padding: 2rem;
	border-radius: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	.content {
		flex: 1 1 calc(40% - 0.5rem);
	}

	.profile {
		width: 8rem;
		height: 8rem;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: 100%;
		}
	}

	@include mobile() {
		.content {
			flex: 1 1 100%;
			text-align: center;
		}

		.profile {
			margin: 0 auto;
			width: 12rem;
			height: 12rem;
		}
	}

	.name {
		font-size: clamp(20px, 5vw, 3rem);
	}

	.title {
		flex: 0 0 100%;
	}

	.location {
		font-size: 0.9rem;
	}
}

.publication {
	@extend %item;
	display: flex;
	background: var(--color-on-background);

	a {
		width: 100%;
	}

	ul.downloads {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 0.9rem;
		color: var(--color-gray);
		li {
			display: inline-block;
		}
		a {
			padding: 0.5rem;
			background-color: rgba(0, 0, 0, 0.2);
			border-radius: 2px;
			&:hover {
				@extend %gradient-bg;
				color: var(--color-white);
			}
		}
	}

	&.no-image a {
		align-self: center;
	}

	header {
		object-fit: cover;
		//height: 200px;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	main {
		padding: 0.5rem;

		.title {
			font-size: 2rem;
			margin: 0.5rem 0;
		}

		.kicker strong {
			margin-right: 1rem;
			font-size: 0.9rem;
			color: var(--color-gray);
		}
	}
}

.image {
	cursor: zoom-in;
	&.zoom {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
